# Homework 6: Web Applications

### Problem set 1: A list of lakes

In [17]:
from flask import Flask, jsonify, request
import pg8000

app = Flask(__name__)
conn = pg8000.connect(user='barneyjs', database="mondial")

#Creating a function to change values into ints, skipping the Nones
def int_(x):
    if x is None:
        return None
    else:
        return int(x)
    
#Creating a function to change values into strs, skipping the Nones
def str_(x):
    if x is None:
        return None
    else:
        return str(x)

@app.route('/lakes')
def get_lakes():
    cursor = conn.cursor()
    #ORDER BY NAME, ORDER BY AREA, ORDER BY ELEVATION
    #order_by = 'ORDER BY name'
    #print(order_by)
    
    #Getting the variable for the sorting
    #print(get_variable)
    get_variable = request.args.get('sort', '')
    #print(get_variable) for debugging
    if get_variable == 'name':
        order_by = 'ORDER BY name'
        #print(order_by) for debugging
    elif get_variable == 'elevation':
        order_by = 'ORDER BY elevation DESC'
    elif get_variable == 'area':
        order_by = 'ORDER BY area DESC'
    else:
        order_by = 'ORDER BY name'
    
    #Getting the variable for the type filtering
    #SQL statement = 'SELECT name, elevation, area, type FROM lake ' + order_by + ' WHERE type=salt'
    #print(get_variable)
    gt_typ = request.args.get('type', '')
    sql = ('SELECT name, elevation, area, type FROM lake WHERE type=%s ')
    if gt_typ == 'salt':
        get_type = 'salt'
        cursor.execute(sql + order_by, [get_type])
    elif gt_typ == 'dam':
        get_type = 'dam'
        cursor.execute(sql + order_by, [get_type])
    elif gt_typ == 'caldera':
        get_type = 'caldera'
        cursor.execute(sql + order_by, [get_type])
    else:
        cursor.execute('SELECT name, elevation, area, type FROM lake ' + order_by)
        print(cursor.execute)
    
    #cursor.execute('SELECT name, elevation, area, type FROM lake WHERE type=%s ' + order_by, [get_type]) 
    
    output = []
    for item in cursor.fetchall():
        output.append({'name': item[0], 'elevation': int_(item[1]), 'area': int_(item[2]), 'type': str_(item[3])})                  
    return jsonify(output)

app.run()
#http://localhost:5000/lakes

IndentationError: expected an indented block (<ipython-input-17-3d3954efc70c>, line 57)

In [126]:
from flask import Flask, jsonify, request
import pg8000

app = Flask(__name__)
conn = pg8000.connect(user='barneyjs', database="mondial")

#Creating a function to change values into ints, skipping the Nones
def int_(x):
    if x is None:
        return None
    else:
        return int(x)
    
#Creating a function to change values into strs, skipping the Nones
def str_(x):
    if x is None:
        return None
    else:
        return str(x)
    
@app.route("/lakes")
def get_lakes():
    cursor = conn.cursor()
    get_variable = request.args.get('sort', '')
    #print(get_variable) for debugging
    if get_variable == 'name':
        order_by = 'ORDER BY name'
        #print(order_by) for debugging
    elif get_variable == 'elevation':
        order_by = 'ORDER BY elevation DESC'
    elif get_variable == 'area':
        order_by = 'ORDER BY area DESC'
    else:
        order_by = 'ORDER BY name'
    cursor.execute('SELECT name, elevation, area, type FROM lake ' + order_by) 
    output = []
    for item in cursor.fetchall():
        output.append({'name': item[0], 'elevation': int_(item[1]), 'area': int_(item[2]), 'type': str_(item[3])})                  
    return jsonify(output)

app.run()
#http://localhost:5000/lakes

<bound method Cursor.execute of <pg8000.core.Cursor object at 0x10231e9b0>>

In [104]:
from flask import Flask, jsonify, request
import pg8000

app = Flask(__name__)
conn = pg8000.connect(user='barneyjs', database="mondial")

#Creating a function to change values into ints, skipping the Nones
def int_(x):
    if x is None:
        return None
    else:
        return int(x)
    
#Creating a function to change values into strs, skipping the Nones
def str_(x):
    if x is None:
        return None
    else:
        return str(x)

@app.route('/lakes')
def get_lakes():
    cursor = conn.cursor()
    #ORDER BY NAME, ORDER BY AREA, ORDER BY ELEVATION
    #order_by = 'ORDER BY name'
    #print(order_by)
    get_variable = request.args.get('sortby', None)
    
    #Getting the variable for the sorting
    #print(get_variable)
    if get_variable == 'name':
        order_by = 'ORDER BY name'
        print(order_by)
    elif get_variable == 'elevation':
        order_by = 'ORDER BY elevation'
    elif get_variable == 'area':
        order_by = 'ORDER BY area'
    elif get_variable == 'type':
        order_by = 'ORDER BY type'
    else:
        order_by = ''
        
    cursor.execute('SELECT name, elevation, area, type FROM lake ' + order_by ) 
    output = []
    for item in cursor.fetchall():
        output.append({'name': item[0], 'elevation': int_(item[1]), 'area': int_(item[2]), 'type': str_(item[3])})                  
    return jsonify(output)

app.run()
#http://localhost:5000/lakes

In [106]:
from flask import Flask, jsonify, request
import pg8000

app = Flask(__name__)
conn = pg8000.connect(user='barneyjs', database="mondial")

#Creating a function to change values into ints, skipping the Nones
def int_(x):
    if x is None:
        return None
    else:
        return int(x)
    
#Creating a function to change values into strs, skipping the Nones
def str_(x):
    if x is None:
        return None
    else:
        return str(x)

@app.route('/lakes')
def get_lakes():
    cursor = conn.cursor()
    #Getting the variable for the type filtering
    #SQL statement = 'SELECT name, elevation, area, type FROM lake ' + order_by + ' WHERE type=salt'
    #print(get_variable)
    
    #get_type = 'salt'
    
    gt_typ = request.args.get('type', None)
    #print(gt_typ)
    if gt_typ == 'salt':
        get_type = 'salt'
    elif gt_typ == 'dam':
        get_type = 'dam'
    else:
        get_type = ''
        
    cursor.execute('SELECT name, elevation, area, type FROM lake WHERE type=%s ORDER BY name', [get_type]) 
    output = []
    for item in cursor.fetchall():
        output.append({'name': item[0], 'elevation': int_(item[1]), 'area': int_(item[2]), 'type': str_(item[3])})                  
    return jsonify(output)

app.run()

In [57]:
from flask import Flask, jsonify, request
import pg8000

app = Flask(__name__)
conn = pg8000.connect(user='barneyjs', database="mondial")

#Creating a function to change values into ints, skipping the Nones
def int_(x):
    if x is None:
        return None
    else:
        return int(x)
    
#Creating a function to change values into strs, skipping the Nones
def str_(x):
    if x is None:
        return None
    else:
        return str(x)

@app.route("/lakes")
def get_lakes():
    cursor = conn.cursor()
    cursor.execute('SELECT name, elevation, area, type FROM lake')
    output = []
    for item in cursor.fetchall():
        output.append({'name': item[0], 'elevation': int_(item[1]), 'area': int_(item[2]), 'type': str_(item[3])})                  
    return jsonify(output)

app.run()
#http://localhost:5000/lakes

In [76]:
ORDER BY name
ORDER BY elevation
ORDER BY area

SyntaxError: invalid syntax (<ipython-input-76-dcb81481f028>, line 1)

In [53]:
from flask import Flask, jsonify, request
import pg8000

app = Flask(__name__)
conn = pg8000.connect(user='barneyjs', database="mondial")

#Creating a function to change values into ints, skipping the Nones
def int_(x):
    if x is None:
        return None
    else:
        return int(x)
    
#Creating a function to change values into strs, skipping the Nones
def str_(x):
    if x is None:
        return None
    else:
        return str(x)

def get_lakes():
    type_ = request.args.get('type', None)
    if 'type' in request.args:
        cursor = conn.cursor()
        cursor.execute('SELECT name, elevation, area, type FROM lake WHERE type=%s', type_)
    output = []
    for item in cursor.fetchall():
        output.append({'name': item[0], 'elevation': int_(item[1]), 'area': int_(item[2]), 'type': str_(item[3])})                  
    return jsonify(output)
    
    
    
    
    
app.run()

In [29]:
from flask import Flask, jsonify, request
import pg8000

app = Flask(__name__)
conn = pg8000.connect(database="mondial")

#Creating a function to change values into ints, skipping the Nones
def int_(x):
    if x is None:
        return None
    else:
        return int(x)
    
#Creating a function to change values into strs, skipping the Nones
def str_(x):
    if x is None:
        return None
    else:
        return str(x)
    
#    ty_gt = request.args.get('type_gt', 'salt')
#        cursor.execute('SELECT name, elevation, area, type FROM lake WHERE type=%s', [ty_gt])

@app.route("/lakes")
def get_lakes(_sort):
    cursor = conn.cursor()
    
    sort_result = ''
    if _sort == 'name':
        sort_result = 'ORDER BY name'
    elif _sort == 'elevation':
        sort_result = 'ORDER BY elevation'
    
    cursor.execute('SELECT name, elevation, area FROM lake' + sort_result)
 
    output = []
    for item in cursor.fetchall():
        output.append({'name': item[0], 'elevation': int_(item[1]), 'area': int_(item[2]), 'type': str_(item[3])})                  
    return jsonify(output)

app.run()
#http://localhost:5000/lakes

[2016-07-01 09:10:31,153] ERROR in app: Exception on /lakes [GET]
Traceback (most recent call last):
  File "/usr/local/lib/python3.5/site-packages/flask/app.py", line 1988, in wsgi_app
    response = self.full_dispatch_request()
  File "/usr/local/lib/python3.5/site-packages/flask/app.py", line 1641, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/usr/local/lib/python3.5/site-packages/flask/app.py", line 1544, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "/usr/local/lib/python3.5/site-packages/flask/_compat.py", line 33, in reraise
    raise value
  File "/usr/local/lib/python3.5/site-packages/flask/app.py", line 1639, in full_dispatch_request
    rv = self.dispatch_request()
  File "/usr/local/lib/python3.5/site-packages/flask/app.py", line 1625, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
TypeError: get_lakes() missing 1 required positional argument: '_sort'

### Problem set #2: Lakes of a certain type

In [39]:
from flask import Flask, jsonify, request
import pg8000

app = Flask(__name__)
conn = pg8000.connect(user='barneyjs, database="mondial")

#Creating a function to change values into ints, skipping the Nones
def int_(x):
    if x is None:
        return None
    else:
        return int(x)
    
#Creating a function to change values into strs, skipping the Nones
def str_(x):
    if x is None:
        return None
    else:
        return str(x)
    
@app.route("/lakes")
def get_lakes():
    cursor = conn.cursor()
    sort_by = request.args.get('sort_by', 'name')
    ty_gt = request.args.get('type_gt', 'salt')
    if sort_by == 'name':
        sort_string = 'ORDER BY name'
                      
    else:
        sort_string = 'ORDER BY ' + sort_by + ' DESC'
    cursor.execute('SELECT name, elevation, area, type FROM lake WHERE type=%s' + sort_string, [ty_gt])
    output = []
    for item in cursor.fetchall():
        output.append({'name': item[0], 'elevation': int_(item[1]), 'area': int_(item[2]), 'type': str_(item[3])})                  
    return jsonify(output)

app.run()
#http://localhost:5000/lakes

### Problem set #3: Lakes in order

In [27]:
from flask import Flask, jsonify, request
import pg8000

app = Flask(__name__)
conn = pg8000.connect(database="mondial")

#Creating a function to change values into ints, skipping the Nones
def int_(x):
    if x is None:
        return None
    else:
        return int(x)
    
#Creating a function to change values into strs, skipping the Nones
def str_(x):
    if x is None:
        return None
    else:
        return str(x)
    
@app.route("/lakes")
def get_lakes():
    cursor = conn.cursor()
    cursor.execute('SELECT name, elevation, area, type FROM lake ORDER BY elevation')
    output = []
    for item in cursor.fetchall():
        output.append({'name': item[0], 'elevation': int_(item[1]), 'area': int_(item[2]), 'type': str_(item[3])})                  
    return jsonify(output)

app.run()
#http://localhost:5000/lakes

## Problem set 4: Order and type
The following code prints the names of the largest caldera lakes, ordered in reverse order by area

In [4]:
from flask import Flask, jsonify, request
import pg8000

app = Flask(__name__)
conn = pg8000.connect(database="mondial")

#Creating a function to change values into ints, skipping the Nones
def int_(x):
    if x is None:
        return None
    else:
        return int(x)
    
#Creating a function to change values into strs, skipping the Nones
def str_(x):
    if x is None:
        return None
    else:
        return str(x)
    
@app.route("/lakes")
def get_lakes():
    cursor = conn.cursor()
    ty2_gt = request.args.get('type_gt', 'caldera')
    cursor.execute('SELECT name, elevation, area, type FROM lake WHERE type=%s ORDER BY area DESC', [ty2_gt])
    output = []
    for item in cursor.fetchall():
        output.append({'name': item[0], 'elevation': int_(item[1]), 'area': int_(item[2]), 'type': str_(item[3])})                  
    return jsonify(output)

app.run()
#http://localhost:5000/lakes