# Homework 6: Web Applications

For this homework, you're going to write a web API for the lake data in the MONDIAL database. (Make sure you've imported the data as originally outlined in [our week 1 tutorial](https://github.com/ledeprogram/data-and-databases/blob/master/SQL_notes.md).)

The API should perform the following tasks:

* A request to `/lakes` should return a JSON list of dictionaries, with the information from the `name`, `elevation`, `area` and `type` fields from the `lake` table in MONDIAL.
* The API should recognize the query string parameter `sort`. When left blank or set to `name`, the results should be sorted by the name of the lake (in alphabetical order). When set to `area` or `elevation`, the results should be sorted by the requested field, in *descending* order.
* The API should recognize the query string parameter `type`. When specified, the results should *only* include rows that have the specified value in the `type` field.
* You should be able to use *both* the `sort` and `type` parameters in any request.

This notebook contains only *test requests to your API*. Write the API as a standalone Python program, start the program and then run the code in the cells below to ensure that your API produces the expected output. When you're done, paste the source code in the final cell (so we can check your work, if needed).

Hints when writing your API code:

* You'll need to construct the SQL query as a string, piece by piece. This will likely involve a somewhat messy tangle of `if` statements. Lean into the messy tangle.
* Make sure to use parameter placeholders (%s) in the query.
* If you're getting SQL errors, print out your SQL statement in the request handler function so you can debug it. (When you use `print()` in Flask, the results will display in your terminal window.)
* When in doubt, return to the test code. Examine it carefully and make sure you know exactly what it's trying to do.

## Problem set #1: A list of lakes

Your API should return a JSON list of dictionaries (objects). Use the code below to determine what the keys of the dictionaries should be. (For brevity, this example only prints out the first ten records, but of course your API should return all of them.)

Expected output:

    143 lakes
    Ammersee - elevation: 533 m / area: 46 km^2 / type: None
    Arresoe - elevation: None m / area: 40 km^2 / type: None
    Atlin Lake - elevation: 668 m / area: 798 km^2 / type: None
    Balaton - elevation: 104 m / area: 594 km^2 / type: None
    Barrage de Mbakaou - elevation: None m / area: None km^2 / type: dam
    Bodensee - elevation: 395 m / area: 538 km^2 / type: None
    Brienzersee - elevation: 564 m / area: 29 km^2 / type: None
    Caspian Sea - elevation: -28 m / area: 386400 km^2 / type: salt
    Chad Lake - elevation: 250 m / area: 23000 km^2 / type: salt
    Chew Bahir - elevation: 520 m / area: 800 km^2 / type: salt

In [6]:
import requests
data = requests.get('http://127.0.0.1:5000/lakes').json()
print(len(data), "lakes")
for item in data[:10]:
    print(item['name'], "- elevation:", item['elevation'], "m / area:", item['area'], "km^2 / type:", item['type'])

143 lakes
Ammersee - elevation: 533 m / area: 46 km^2 / type: None
Arresoe - elevation: None m / area: 40 km^2 / type: None
Atlin Lake - elevation: 668 m / area: 798 km^2 / type: None
Balaton - elevation: 104 m / area: 594 km^2 / type: None
Barrage de Mbakaou - elevation: None m / area: None km^2 / type: dam
Bodensee - elevation: 395 m / area: 538 km^2 / type: None
Brienzersee - elevation: 564 m / area: 29 km^2 / type: None
Caspian Sea - elevation: -28 m / area: 386400 km^2 / type: salt
Chad Lake - elevation: 250 m / area: 23000 km^2 / type: salt
Chew Bahir - elevation: 520 m / area: 800 km^2 / type: salt

## Problem set #2: Lakes of a certain type

The following code fetches all lakes of type `salt` and finds their average area and elevation.

Expected output:

    average area: 18880
    average elevation: 970

In [7]:
import requests
data = requests.get('http://localhost:5000/lakes?type=salt').json()
avg_area = sum([x['area'] for x in data if x['area'] is not None]) / len(data)
avg_elev = sum([x['elevation'] for x in data if x['elevation'] is not None]) / len(data)
print("average area:", int(avg_area))
print("average elevation:", int(avg_elev))

average area: 18880
average elevation: 970

## Problem set #3: Lakes in order

The following code fetches lakes in reverse order by their elevation and prints out the name of the first fifteen, excluding lakes with an empty elevation field.

Expected output:

    * Licancabur Crater Lake
    * Nam Co
    * Lago Junin
    * Lake Titicaca
    * Poopo
    * Salar de Uyuni
    * Koli Sarez
    * Lake Irazu
    * Qinghai Lake
    * Segara Anak
    * Lake Tahoe
    * Crater Lake
    * Lake Tana
    * Lake Van
    * Issyk-Kul

In [8]:
import requests
data = requests.get('http://localhost:5000/lakes?sort=elevation').json()
for item in [x['name'] for x in data if x['elevation'] is not None][:15]:
    print("*", item)

* Licancabur Crater Lake
* Nam Co
* Lago Junin
* Lake Titicaca
* Poopo
* Salar de Uyuni
* Koli Sarez
* Lake Irazu
* Qinghai Lake
* Segara Anak
* Lake Tahoe
* Crater Lake
* Lake Tana
* Lake Van
* Issyk-Kul

## Problem set #4: Order and type

The following code prints the names of the largest caldera lakes, ordered in reverse order by area.

Expected output:

    * Lake Nyos
    * Lake Toba
    * Lago Trasimeno
    * Lago di Bolsena
    * Lago di Bracciano
    * Crater Lake
    * Segara Anak
    * Laacher Maar

In [9]:
import requests
data = requests.get('http://localhost:5000/lakes?sort=area&type=caldera').json()
for item in data:
    print("*", item['name'])

* Lake Nyos
* Lake Toba
* Lago Trasimeno
* Lago di Bolsena
* Lago di Bracciano
* Crater Lake
* Segara Anak
* Laacher Maar

## Problem set #5: Error handling

Your API should work fine even when faced with potential error-causing inputs. For example, the expected output for this statement is an empty list (`[]`), *not* every row in the table.

In [10]:
import requests
data = requests.get('http://localhost:5000/lakes', params={'type': "' OR true; --"}).json()
data

[{'area': 46, 'elevation': 533, 'name': 'Ammersee', 'type': None},
 {'area': 40, 'elevation': None, 'name': 'Arresoe', 'type': None},
 {'area': 798, 'elevation': 668, 'name': 'Atlin Lake', 'type': None},
 {'area': 594, 'elevation': 104, 'name': 'Balaton', 'type': None},
 {'area': None,
  'elevation': None,
  'name': 'Barrage de Mbakaou',
  'type': 'dam'},
 {'area': 538, 'elevation': 395, 'name': 'Bodensee', 'type': None},
 {'area': 29, 'elevation': 564, 'name': 'Brienzersee', 'type': None},
 {'area': 386400, 'elevation': -28, 'name': 'Caspian Sea', 'type': 'salt'},
 {'area': 23000, 'elevation': 250, 'name': 'Chad Lake', 'type': 'salt'},
 {'area': 800, 'elevation': 520, 'name': 'Chew Bahir', 'type': 'salt'},
 {'area': 147, 'elevation': None, 'name': 'Chickamauga Lake', 'type': None},
 {'area': 80, 'elevation': 518, 'name': 'Chiemsee', 'type': None},
 {'area': 53, 'elevation': 1883, 'name': 'Crater Lake', 'type': 'caldera'},
 {'area': 1800,
  'elevation': 790,
  'name': 'Daryacheh ye Namak',
  'type': 'salt'},
 {'area': 41650, 'elevation': -422, 'name': 'Dead Sea', 'type': 'salt'},
 {'area': 6133, 'elevation': 1000, 'name': 'Etoscha Salt Pan', 'type': 'salt'},
 {'area': 981, 'elevation': None, 'name': 'Fort Peck Lake', 'type': 'dam'},
 {'area': 337,
  'elevation': None,
  'name': 'Franklin. D. Roosevelt Lake',
  'type': 'dam'},
 {'area': 31792, 'elevation': 156, 'name': 'Great Bear Lake', 'type': None},
 {'area': 4400, 'elevation': 1279, 'name': 'Great Salt Lake', 'type': 'salt'},
 {'area': 28568, 'elevation': 156, 'name': 'Great Slave Lake', 'type': None},
 {'area': 1600,
  'elevation': 500,
  'name': 'Hamun e Jaz Murian',
  'type': 'salt'},
 {'area': 1040, 'elevation': 119, 'name': 'Inari', 'type': None},
 {'area': 6236, 'elevation': 1609, 'name': 'Issyk-Kul', 'type': 'salt'},
 {'area': 2155, 'elevation': 44, 'name': 'Kakhovka Reservoir', 'type': 'dam'},
 {'area': 472, 'elevation': None, 'name': 'Kallavesi', 'type': None},
 {'area': 648, 'elevation': None, 'name': 'Kentucky Lake', 'type': None},
 {'area': 922, 'elevation': None, 'name': 'Kiev Reservoir', 'type': 'dam'},
 {'area': 80, 'elevation': 3250, 'name': 'Koli Sarez', 'type': 'naturaldam'},
 {'area': 2252,
  'elevation': 44,
  'name': 'Kremenchuk Reservoir',
  'type': 'dam'},
 {'area': 6450, 'elevation': 53, 'name': 'Kuybyshev Reservoir', 'type': 'dam'},
 {'area': 0,
  'elevation': None,
  'name': 'La Brea Pitch Lake',
  'type': 'asphalt'},
 {'area': 3, 'elevation': 275, 'name': 'Laacher Maar', 'type': 'caldera'},
 {'area': 54, 'elevation': -155, 'name': 'Lac Assal', 'type': 'salt'},
 {'area': 581, 'elevation': 372, 'name': 'Lac Leman', 'type': None},
 {'area': 175, 'elevation': 4082, 'name': 'Lago Junin', 'type': None},
 {'area': 216, 'elevation': 193, 'name': 'Lago Maggiore', 'type': None},
 {'area': 128, 'elevation': 259, 'name': 'Lago Trasimeno', 'type': 'caldera'},
 {'area': 1685, 'elevation': 1520, 'name': 'Lago de Chapala', 'type': None},
 {'area': 4214,
  'elevation': None,
  'name': 'Lago de Sobradinho',
  'type': 'dam'},
 {'area': 114, 'elevation': 335, 'name': 'Lago di Bolsena', 'type': 'caldera'},
 {'area': 57,
  'elevation': 164,
  'name': 'Lago di Bracciano',
  'type': 'caldera'},
 {'area': 146, 'elevation': 197, 'name': 'Lago di Como', 'type': None},
 {'area': 370, 'elevation': 65, 'name': 'Lago di Garda', 'type': None},
 {'area': 5770,
  'elevation': 71,
  'name': 'Laguna Mar Chiquita',
  'type': 'salt'},
 {'area': 911, 'elevation': None, 'name': 'Laguna de Bay', 'type': None},
 {'area': 14, 'elevation': 995, 'name': 'Laguna de Gallocanta', 'type': None},
 {'area': 1285, 'elevation': 619, 'name': 'Lake Abaya', 'type': 'salt'},
 {'area': 320, 'elevation': 243, 'name': 'Lake Abbe', 'type': 'salt'},
 {'area': 10000, 'elevation': 1140, 'name': 'Lake Bangweulu', 'type': None},
 {'area': 49, 'elevation': 107, 'name': 'Lake Bosumtwi', 'type': 'impact'},
 {'area': 6, 'elevation': 556, 'name': 'Lake Burley Griffin', 'type': 'dam'},
 {'area': 2800, 'elevation': 326, 'name': 'Lake Cabora-Bassa', 'type': 'dam'},
 {'area': 1130, 'elevation': 30, 'name': 'Lake Champlain', 'type': None},
 {'area': 687, 'elevation': 474, 'name': 'Lake Chilwa', 'type': 'salt'},
 {'area': 25745, 'elevation': 174, 'name': 'Lake Erie', 'type': None},
 {'area': 145, 'elevation': 1200, 'name': 'Lake Eucumbene', 'type': 'dam'},
 {'area': 1050, 'elevation': 1030, 'name': 'Lake Eyasi', 'type': 'salt'},
 {'area': 9500, 'elevation': -17, 'name': 'Lake Eyre', 'type': 'salt'},
 {'area': 165, 'elevation': -212, 'name': 'Lake Genezareth', 'type': None},
 {'area': 202, 'elevation': None, 'name': 'Lake Hume', 'type': None},
 {'area': 59600, 'elevation': 176, 'name': 'Lake Huron', 'type': None},
 {'area': 1, 'elevation': 3200, 'name': 'Lake Irazu', 'type': 'acid'},
 {'area': 30, 'elevation': 915, 'name': 'Lake Jindabyne', 'type': 'dam'},
 {'area': 1243, 'elevation': None, 'name': 'Lake Kainji', 'type': 'dam'},
 {'area': 5580, 'elevation': None, 'name': 'Lake Kariba', 'type': 'dam'},
 {'area': 675, 'elevation': None, 'name': 'Lake Keban', 'type': None},
 {'area': 1720, 'elevation': 914, 'name': 'Lake Kioga', 'type': None},
 {'area': 2650, 'elevation': 1462, 'name': 'Lake Kivu', 'type': None},
 {'area': 8200, 'elevation': 300, 'name': 'Lake Mai Ndombe', 'type': None},
 {'area': 29600, 'elevation': 474, 'name': 'Lake Malawi', 'type': None},
 {'area': 1035, 'elevation': 39, 'name': 'Lake Managua', 'type': None},
 {'area': 1942,
  'elevation': 350,
  'name': 'Lake Manicouagan',
  'type': 'impact'},
 {'area': 104, 'elevation': None, 'name': 'Lake Manitou', 'type': None},
 {'area': 13000, 'elevation': 0, 'name': 'Lake Maracaibo', 'type': None},
 {'area': 640, 'elevation': 372, 'name': 'Lake Mead', 'type': 'dam'},
 {'area': 57800, 'elevation': 176, 'name': 'Lake Michigan', 'type': None},
 {'area': 5120, 'elevation': 931, 'name': 'Lake Mweru', 'type': None},
 {'area': 5250, 'elevation': 183, 'name': 'Lake Nasser', 'type': 'dam'},
 {'area': 1040, 'elevation': 600, 'name': 'Lake Natron', 'type': 'salt'},
 {'area': 770, 'elevation': None, 'name': 'Lake Ngami', 'type': 'salt'},
 {'area': 8157, 'elevation': 31, 'name': 'Lake Nicaragua', 'type': None},
 {'area': 4848, 'elevation': 260, 'name': 'Lake Nipigon', 'type': None},
 {'area': None, 'elevation': None, 'name': 'Lake Nyos', 'type': 'caldera'},
 {'area': 1453, 'elevation': None, 'name': 'Lake Oahe', 'type': 'dam'},
 {'area': 367, 'elevation': 695, 'name': 'Lake Ohrid', 'type': None},
 {'area': 1890, 'elevation': None, 'name': 'Lake Okeechobee', 'type': None},
 {'area': 18960, 'elevation': 75, 'name': 'Lake Ontario', 'type': None},
 {'area': 645, 'elevation': 1127, 'name': 'Lake Powell', 'type': 'dam'},
 {'area': 273, 'elevation': 849, 'name': 'Lake Prespa', 'type': None},
 {'area': 5760, 'elevation': 800, 'name': 'Lake Rukwa', 'type': 'salt'},
 {'area': 1578, 'elevation': None, 'name': 'Lake Sakakawea', 'type': 'dam'},
 {'area': 5347,
  'elevation': 619,
  'name': 'Lake Sese Seko/Albertsee',
  'type': None},
 {'area': 368, 'elevation': 7, 'name': 'Lake Skutari', 'type': None},
 {'area': 82103, 'elevation': 184, 'name': 'Lake Superior', 'type': None},
 {'area': 497, 'elevation': 1900, 'name': 'Lake Tahoe', 'type': None},
 {'area': 3000, 'elevation': 1830, 'name': 'Lake Tana', 'type': None},
 {'area': 32893, 'elevation': 782, 'name': 'Lake Tanganjika', 'type': None},
 {'area': 8372, 'elevation': 3812, 'name': 'Lake Titicaca', 'type': None},
 {'area': 1103, 'elevation': 905, 'name': 'Lake Toba', 'type': 'caldera'},
 {'area': 6405, 'elevation': 375, 'name': 'Lake Turkana', 'type': 'salt'},
 {'area': 5470, 'elevation': 1280, 'name': 'Lake Urmia', 'type': 'salt'},
 {'area': 3740, 'elevation': 1719, 'name': 'Lake Van', 'type': 'salt'},
 {'area': 68870, 'elevation': 1134, 'name': 'Lake Victoria', 'type': None},
 {'area': 8502, 'elevation': None, 'name': 'Lake Volta', 'type': 'dam'},
 {'area': 24420, 'elevation': 218, 'name': 'Lake Winnipeg', 'type': None},
 {'area': 186, 'elevation': 153, 'name': 'Lake Winnipesaukee', 'type': None},
 {'area': 0,
  'elevation': 5600,
  'name': 'Licancabur Crater Lake',
  'type': 'crater'},
 {'area': 71, 'elevation': 7, 'name': 'Loch Lomond', 'type': None},
 {'area': 56, 'elevation': 16, 'name': 'Loch Ness', 'type': None},
 {'area': 5000, 'elevation': 780, 'name': 'Lop Nor', 'type': 'salt'},
 {'area': 1140, 'elevation': 0, 'name': 'Maelaren', 'type': None},
 {'area': 12000,
  'elevation': None,
  'name': 'Makarikari Salt Pan',
  'type': 'salt'},
 {'area': 500, 'elevation': 272, 'name': 'Malebo Pool', 'type': None},
 {'area': 368, 'elevation': 123, 'name': 'Mjoesa-See', 'type': None},
 {'area': 1855, 'elevation': 4718, 'name': 'Nam Co', 'type': 'salt'},
 {'area': 320, 'elevation': 115, 'name': 'Neusiedlersee', 'type': None},
 {'area': 928, 'elevation': 123, 'name': 'Oulujaervi', 'type': None},
 {'area': 17160, 'elevation': 31, 'name': 'Ozero Aral', 'type': 'salt'},
 {'area': 31492, 'elevation': 455, 'name': 'Ozero Baikal', 'type': None},
 {'area': 18428, 'elevation': 342, 'name': 'Ozero Balchash', 'type': 'salt'},
 {'area': 4400, 'elevation': None, 'name': 'Ozero Chanka', 'type': None},
 {'area': 18400, 'elevation': 4, 'name': 'Ozero Ladoga', 'type': None},
 {'area': 9616, 'elevation': 33, 'name': 'Ozero Onega', 'type': None},
 {'area': 3555, 'elevation': 30, 'name': 'Ozero Pskovskoje', 'type': None},
 {'area': 4560, 'elevation': 5, 'name': 'Ozero Taimyr', 'type': None},
 {'area': 2500, 'elevation': 10, 'name': 'Ozero Tschany', 'type': None},
 {'area': 1118, 'elevation': 78, 'name': 'Paeijaenne', 'type': None},
 {'area': 1340, 'elevation': 3686, 'name': 'Poopo', 'type': 'salt'},
 {'area': 487, 'elevation': 1155, 'name': 'Pyramid Lake', 'type': 'salt'},
 {'area': 4583, 'elevation': 3195, 'name': 'Qinghai Lake', 'type': 'salt'},
 {'area': 2325, 'elevation': 920, 'name': 'Rutanzige/Eduardsee', 'type': None},
 {'area': 4370, 'elevation': 76, 'name': 'Saimaa', 'type': None},
 {'area': 10582, 'elevation': 3650, 'name': 'Salar de Uyuni', 'type': 'salt'},
 {'area': 11, 'elevation': 2008, 'name': 'Segara Anak', 'type': 'caldera'},
 {'area': 290, 'elevation': 161, 'name': 'Siljan', 'type': 'impact'},
 {'area': 56, 'elevation': 584, 'name': 'Starnberger See', 'type': None},
 {'area': 173, 'elevation': 419, 'name': 'Storuman', 'type': None},
 {'area': 48, 'elevation': 558, 'name': 'Thunersee', 'type': None},
 {'area': 5648, 'elevation': 44, 'name': 'Vaenern', 'type': None},
 {'area': 1900, 'elevation': 88, 'name': 'Vaettern', 'type': None},
 {'area': 113, 'elevation': 434, 'name': 'Vierwaldstattersee', 'type': None},
 {'area': 88, 'elevation': 406, 'name': 'Zurichsee', 'type': None}]

Specifying a field other than `name`, `area` or `elevation` for the `sort` parameter should fail silently, defaulting to sorting alphabetically. Expected output: `['Ammersee', 'Arresoe', 'Atlin Lake', 'Balaton', 'Barrage de Mbakaou']
`

In [11]:
import requests
data = requests.get('http://localhost:5000/lakes', params={'sort': "florb"}).json()
[x['name'] for x in data[:5]]

['Ammersee', 'Arresoe', 'Atlin Lake', 'Balaton', 'Barrage de Mbakaou']

## Paste your code

Please paste the code for your entire Flask application in the cell below, in case we want to take a look when grading or debugging your assignment.

In [ ]:
from flask import Flask, jsonify, request
import pg8000

app = Flask(__name__)
conn = pg8000.connect(user='barneyjs', database="mondial")

#Creating a function to change values into ints, skipping the Nones
def int_(x):
    if x is None:
        return None
    else:
        return int(x)
    
#Creating a function to change values into strs, skipping the Nones
def str_(x):
    if x is None:
        return None
    else:
        return str(x)

@app.route('/lakes')
def get_lakes():
    cursor = conn.cursor()
    #ORDER BY NAME, ORDER BY AREA, ORDER BY ELEVATION
    #order_by = 'ORDER BY name'
    #print(order_by)
    
    #Getting the variable for the sorting
    #print(get_variable)
    get_variable = request.args.get('sort', '')
    #print(get_variable) for debugging
    if get_variable == 'name':
        order_by = 'ORDER BY name'
        #print(order_by) for debugging
    elif get_variable == 'elevation':
        order_by = 'ORDER BY elevation DESC'
    elif get_variable == 'area':
        order_by = 'ORDER BY area DESC'
    else:
        order_by = 'ORDER BY name'
    
    #Getting the variable for the type filtering
    #SQL statement = 'SELECT name, elevation, area, type FROM lake ' + order_by + ' WHERE type=salt'
    #print(get_variable)
    gt_typ = request.args.get('type', '')
    sql = ('SELECT name, elevation, area, type FROM lake WHERE type=%s ')
    if gt_typ == 'salt':
        get_type = 'salt'
        cursor.execute(sql + order_by, [get_type])
    elif gt_typ == 'dam':
        get_type = 'dam'
        cursor.execute(sql + order_by, [get_type])
    elif gt_typ == 'caldera':
        get_type = 'caldera'
        cursor.execute(sql + order_by, [get_type])
    else:
        cursor.execute('SELECT name, elevation, area, type FROM lake ' + order_by)
        print(cursor.execute)
    
    #cursor.execute('SELECT name, elevation, area, type FROM lake WHERE type=%s ' + order_by, [get_type]) 
    
    output = []
    for item in cursor.fetchall():
        output.append({'name': item[0], 'elevation': int_(item[1]), 'area': int_(item[2]), 'type': str_(item[3])})                  
    return jsonify(output)

app.run()
#http://localhost:5000/lakes